.board {
	width: 15rem;
	height: 25rem;
}

.control-buttons {
	width: 8rem;
	height: 8rem;
}

.start-button {
	width: 25rem;
	height: auto;
}

.next {
	width: 4rem;
	height: 4rem;
}

.mat {
	display: inline-flex;
	flex-direction: column;
	position: relative;
}

.row {
	display: inline-flex;
	height: 100%;
}

.col {
	display: inline-flex;
	width: 100%;
}

.margin-0 {
	margin: 0rem;
}

.margin-left-0 {
	margin-left: 0rem;
}

.margin-right-0 {
	margin-right: 0rem;
}

.margin-top-0 {
	margin-top: 0rem;
}

.margin-bottom-0 {
	margin-bottom: 0rem;
}

.margin-1 {
	margin: 0rem;
}

.margin-left-1 {
	margin-left: 1rem;
}

.margin-right-1 {
	margin-right: 1rem;
}

.margin-top-1 {
	margin-top: 1rem;
}

.margin-bottom-1 {
	margin-bottom: 1rem;
}

.hor-align-center {
	justify-content: center;
}

.hor-align-left {
	justify-content: start;
}

.hor-align-right {
	justify-content: end;
}

.ver-align-center {
	align-items: center;
}

.ver-align-left {
	align-items: start;
}

.ver-align-right {
	align-items: end;
}

.width-1 {
	width: 1rem;
}

.width-2 {
	width: 2rem;
}

.width-3 {
	width: 3rem;
}

.height-1 {
	height: 1rem;
}

.height-2 {
	height: 2rem;
}

.height-3 {
	height: 3rem;
}

.no-shrink {
	flex-shrink: 0;
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-3 {
	gap: 3rem;
}
