@keyframes useAnimationShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes useAnimationHide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes useAnimationAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes useAnimationDisappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
